<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>

    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>XML & BSEP</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <script src="lib/xml2json/xml2json.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-show="authentication.isAuth "><a href="#">Welcome {{authentication.lastName}}</a></li>
                    <li data-ng-show='authentication.role == "Alderman"'><a href="#/orders">Predlozi Amandman</a></li>
                    <li data-ng-show='authentication.role == "Alderman"'><a href="#/newact">Predlozi Akt</a></li>
                    <li data-ng-show='authentication.role == "Alderman"'><a href="#/refresh">Povuci Predloge</a></li>
                    <li data-ng-show='authentication.role == "Chairman"'><a href="#/refresh">Rukovodjenje Sednicom</a></li>
                    <li data-ng-show="authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-show="!authentication.isAuth "> <a href="#/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>XML & BSEP</h1>
            </div>
           </div>
    </div>

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>

    <hr />

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">Created by: Marko Bera, Marko Micic, Vladimir Djurdjevic, Petar Makevic </p>
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd party libraries -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script> 
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
   
    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>

    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/actService.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/aldermanController.js?v=2"></script>
    <script src="app/controllers/citizenController.js?v=2"></script>
    <script src="app/controllers/chairmanController.js?v=2"></script>
    <script src="app/controllers/newActController.js"></script>
    <script src="app/controllers/modalController.js"></script>

    <!-- Load directives-->
    <script src="app/directives/XmlEditor.js"></script>




</body>
</html>