<table class="table table-hover table-bordered results">
    <thead>
        <tr>
            <th>Naziv Propisa</th>
            <th>Ime Nadleznog Organa</th>
            <th>Prezime Nadleznog Organa</th>
            <th>Email Nadleznog Organa</th>
            <th>Status</th>
            <th>Pregled</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="akt in akti ">
            <td> {{akt.NazivPropisa}} </td>
            <td>  {{akt.ImeNadleznogOrgana}} </td>
            <td>  {{akt.PrezimeNadleznogOrgana}} </td>
            <td>  {{akt.EmailNadleznogOrgana}} </td>
            <td> {{akt.Status}} </td>
            <td>
                <button class="image-button" ng-click="izbrisiFakturu(f.id_fakture)">
                    <img src="https://cdn1.iconfinder.com/data/icons/surgery/450/eye-512.png" class="icon" width="30" height="30">
                </button>
            </td>
        </tr>
    </tbody>
</table>