
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        Ovde je za bata citizena
        <h3>Spisak usvojenih akata:</h3><br />
        <ul ng-repeat="usvojen in usvojeniAkti">
            <li>
                ><a href="{{usvojen.uri}}">Pregled akta</a><br />
                Naziv: {{usvojen.NazivPropisa}}<br /><br />
            </li>
        </ul>
        <br />
        <h3>Spisak predlozenih akata:</h3><br />
        <ul ng-repeat="predlozen in predlozeniAkti">
            <a href="{{predlozen.uri}}">Pregled akta</a>
            <br />
            Naziv: {{predlozen.NazivPropisa}}
            <br />
            <br />
        </ul>
        <br />
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>