
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu">
            <div ng-include="'app/views/searchForm.html'">
            </div>
        </div>

        <div class="col-md-8">
            Ovde je za aldermana bata home<br />
            <h3>Spisak usvojenih akata:</h3><br />
            <div ng-repeat="usvojen in usvojeniAkti">
                <a href="{{usvojen.uri}}">link</a><br />
                {{usvojen.nazivPropisa}}<br /><br />
            </div>
            <br />
            <h3>Spisak predlozenih akata:</h3><br />
            <div ng-repeat="predlozen in predlozeniAkti">
                <a href="{{predlozen.uri}}">link</a><br />
                {{predlozen.NazivPropisa}}<br /><br />
            </div>
            <br />
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
</div>
