<?xml version="1.0" encoding="utf-8"?>
<Syringe>
    <SearchDirectories>
        <ReferenceDirectory>$(ProjectDir)</ReferenceDirectory>
        <ReferenceDirectory>$(SolutionDir)</ReferenceDirectory>
        <ReferenceDirectory>$(TargetDir)</ReferenceDirectory>
        <AmpouleDirectory AmpouleName="ObservableClass">$(ProjectDir)BuildTools\Syringe\CodeAmpoules\ObservableClassAmpoule</AmpouleDirectory>
    </SearchDirectories>    
    <InjectionConfiguration>
        <Ampoule AmpouleName="ObservableClass" InjectionPriority="0"
                 DefaultOnPropertyChangedMethod="NotifyOfPropertyChange"
                 DefaultOnPropertyChangingMethod="NotifyOfPropertyChanging"/>
    </InjectionConfiguration>
</Syringe>